extends ../layout
block content
    table.table.table-hover
       tr
            td.h4 General API methods
            td
       tr
            th Name
            th Descriptions
       tr
            td
                a(href='/methods/api/postAddCheckins') postAddCheckins
            td Adds Check-in into the schedule
       tr
            td.h4 API methods
            td
                b Returns detailed information (not recommended to use in mobile apps)
       tr
            td
                a(href='/methods/api/getCheckins') getCheckins
            td Returns a list of Check-ins with detailed information
       tr
            td
                a(href='/methods/api/getVenues')  getVenues
            td Returns a list of Venues near the coordinates
       tr
            td
                a(href='/methods/api/getVenuesByString') getVenuesByString
            td Returns a list of Venues near the coordinates by string key

       tr
            td.h4 Mobile API methods
            td
                b Returns a simple information, special to mobile apps
       tr
            td
                a(href='/methods/mobile-api/getCheckins') getCheckins
            td Returns a list of Check-ins
       tr
            td
                a(href='/methods/mobile-api/getVenues') getVenues
            td Returns a list of Venues near the coordinates
       tr
            td
                a(href='/methods/mobile-api/getVenuesByString') getVenuesByString
            td Returns a list of Venues near the coordinates bt string key
       tr
            td
                a(href='/methods/mobile-api/getSchedule') getSchedule
            td Returns the schedule of Chek-ins
       tr
            td
                a(href='/methods/mobile-api/postDeleteCheckinFromSchedule') postDeleteCheckinFromSchedule
            td Deletes Chek-in from schedule
       tr
            td
                a(href='/methods/mobile-api/putRestart') putRestart
            td Restarts the Check-in