extends layout
block content
    h1 Check-in EveryDay Test Server
            h4 Please, generate a user token
            a(href="/login")
                img(src="https://ss1.4sqi.net/img/connectTo-990dd166e85a12426a6f57634875256c.png")