doctype html
html
    head
        title=  "Check-in Everyday"
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel="stylesheet" href="http://bootswatch.com/cosmo/bootstrap.min.css")
    body
        div(class="container")
            block content
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js")
    script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")