extends ../../layout
block content
   div.col-md-8
      br
      ul.nav.nav-pills
         li(role='presentation')
            a(href='/methods') API methods
         li.active(role='presentation')
            a(href='#') getRestaurants
      br
      .alert.alert-info(role='alert')
         You https://checkineveryday.herokuapp.com/api/
         strong restaurants/ll
      h4 Parameters
      table.table.table
         tr
         tr
            td ll
            td string
            td Coordinates Latitude and Longitude
         tr
            td specials
            td int (0 or 1)
            td Boolean flag to only include venues that have a special.
      h4 Result
      p Returns a list of restaurants near the coordinates
      h4 Sample query
      div(class="input-group")
         div(class="input-group-addon") Specials flag:
         input(text value= specials id="specials" class="form-control specials" )
      br
      div(class="input-group")
         div(class="input-group-addon") Coordinates:
         input(text value= ll id="ll" class="form-control ll" )
      br
      button(type="submin" class="btn btn-success" onclick="location.href='/api/restaurants/'+document.getElementById('ll').value+'/'+document.getElementById('specials').value+'/"+ token + "'") Get
   div.col-md-4
      h3 Choose the coordinates
      div(style="position: fixed; top:120px" id="map")
         div(id = "map-canvas" style = "width: 300px; height: 300px;")