extends ../../layout
block content
    script(type='text/javascript').
        putCheckin = function () {
            var checkinId = document.getElementById("checkinId").value;
            var day = document.getElementById("days").value;
            var hour = document.getElementById("hours").value;
            $.ajax({
                url: "http://checkineveryday.herokuapp.com/mobile-api/restart",
                type: "PUT",
                data: { id: checkinId,  days: day, hours: hour},
                dataType: "json",
                success: function (result) {
                },
                error: function (xhr, ajaxOptions, thrownError) {
                }
            });
        };
    div.col-md-8
        br
        ul.nav.nav-pills
            li(role='presentation')
                a(href='/methods') API methods
            li.active(role='presentation')
                a(href='#') putRestart
        br
        br
        .alert.alert-info(role='alert')
            You http://checkineveryday.herokuapp.com/api
            strong /mobile-api/restart
        h4 Parameters
        table.table.table
            tr
            tr
                td id
                td string
                td Id of check-in from schedule
            tr
                td hours
                td int
                td New interval of check-ins as houts
            tr
                td days
                td int
                td New count of how many days need to ckec-in in this venue
        .alert.alert-warning(role='alert')  Also this method set 'checkinDate' to date time now for current check-in in schedule!!
        h4 Result
        p Method updatind interval and count of check-ins from schedule
        h4 Sample query
        br
        div(class="input-group")
            div(class="input-group-addon") Check-in Id:
            input(text  id="checkinId" class="form-control")
        br
        div(class="row")
            div(class="col-xs-6")
                div(class="input-group")
                    div(class="input-group-addon") Days:
                    select(class="form-control" id="days" )
                        option 1
                        option 2
                        option 3
                        option 4
                        option 5
                        option 6
                        option 7
            div(class="col-xs-6")
                div(class="input-group")
                    div(class="input-group-addon") Hours:
                    select(class="form-control" id="hours")
                        option 3
                        option 4
                        option 5
                        option 6
                        option 7
                        option 8
                        option 9
                        option 10
                        option 11
                        option 11
                        option 12
                        option 13
                        option 14
                        option 15
                        option 16
                        option 17
                        option 18
                        option 19
                        option 20
                        option 21
                        option 22
                        option 23
                        option 24
            br
            br
        button(type="submin" class="btn btn-success" onclick="putCheckin()") Post